/*=== Color ===*/

$main-background: linear-gradient(to right, darken(#425273, 17%), #425273);
$secondary-background: #f2f2f2;
$main-text-color: #fff;
$secondary-text-color: #333;

$main-color: #425273; 
$error-color: rgb(156, 43, 43);
$success-color: rgb(45, 155, 18);
$table-borders: 1px solid #ccc;